.dialog-close {
    background-color: red;
    color: #FFF;
    border: none;
    outline: none;
    padding:5px 10px;
}
.dialogBox {
    h2 {
        margin-top:0;
    }
    h3 {
        margin-bottom:0;
    }
    .description {
        margin-top:0;
    }
}