<div class="body_page_container">
    <div class="promo-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <h3>My Profile</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product_listing_container">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-4 col-xl-4 col-sm-12">
                            <div class="myProfileContainer">
                                
                                <form class="myProfileform">                                     
                                    <mat-form-field class="profileInput" >
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="First Name">
                                    </mat-form-field>
                                    <mat-form-field class="profileInput">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="First Name">
                                    </mat-form-field>
                                    <mat-form-field class="profileInput">
                                        <mat-label>Email Address</mat-label>
                                        <input value="{{userInfo.userEmail}}" matInput placeholder="Email Address">
                                    </mat-form-field>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>