/* Login & Registration */
.pages-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: $primary-color;
  background: linear-gradient(
    90deg,
    rgba(90, 58, 201, 1) 50%,
    rgba(123, 94, 221, 1) 100%
  );
}
/* Header Start */
.rl_header {
  height: 70px;
}
/* Header End*/
.rl_wrapper {
  background-color: $white-color;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba($black, $alpha: 0.5);
  @media screen and (max-width: 576px) {
    margin-bottom: 20px;
    padding: 10px;
  }
  .rl_banner {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    background: $primary-color;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.rl_container {
  position: relative;
  max-width: 370px;
  width: 100%;
  margin-top: 45px;
  @media screen and (max-width: 576px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.rl_container.active .card:first-child {
  // background: #f2f2f2;
  // margin: 0 15px;
}
.rl_container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.rl_container.active .card.alt {
  top: 10px;
  // left: -5px;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 30px 0 40px;
  overflow: hidden;
  right: -10px;
}
.rl_container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: 10px;
  box-shadow: none;
  -webkit-transform: scale(14.5);
  -moz-transform: scale(14.5);
  -o-transform: scale(14.5);
  -ms-transform: scale(14.5);
  transform: scale(14.5);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.rl_container.active .card.alt .toggle:before {
  content: "";
}
.rl_container.active .card.alt .title,
.rl_container.active .card.alt .input-container,
.rl_container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}
.rl_container.active .card.alt .title {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.rl_container.active .card.alt .input-container {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.rl_container.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.rl_container.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.rl_container.active .card.alt .button-container {
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #212121;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* Card */
.card {
  position: relative;
  background: $white-color;
  border-radius: 5px;
  padding: 40px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid $primary-color;
  margin: 0 0 20px;
  padding: 8px 0 8px 30px;
  color: $primary-color;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  @include user-select;
}
.card .input-container {
  position: relative;
  margin: 0 40px 50px;
  @media screen and (max-width: 576px) {
    margin: 0 25px 50px;
  }
}
.card .input-container input,
.card .input-container input:-webkit-autofill {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 50px;
  border: 0;
  color: $dark-black;
  font-size: 20px;
  font-weight: 400;
}
.card .input-container input:focus ~ label,
.card .input-container input:-webkit-autofill ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  -moz-transform: translate(-12%, -50%) scale(0.75);
  -o-transform: translate(-12%, -50%) scale(0.75);
  -ms-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before,
.card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  -moz-transform: translate(-12%, -50%) scale(0.75);
  -o-transform: translate(-12%, -50%) scale(0.75);
  -ms-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: $gray-color;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: $gray-color;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before,
.card .input-container .bar:after {
  content: "";
  position: absolute;
  background: $primary-color;
  width: 0;
  height: 2px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
  @media screen and (max-width: 576px) {
    margin: 0 30px;
  }
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: not-allowed;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
  &:disabled {
    cursor: not-allowed;
    border-color: #e3e3e3;
  }
  &.active {
    border-color: $primary-color;
    cursor: pointer;
    span {
      color: $primary-color;
    }
  }
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  @include user-select;
}
.card .button-container button:before,
.card .button-container button.active:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: $primary-color;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.card .button-container button.active:hover,
.card .button-container button.active:focus,
.card .button-container button.active:active {
  border-color: $primary-color;
}
.card .button-container button.active:hover span,
.card .button-container button.active:focus span,
.card .button-container button.active:active span {
  color: $white-color;
}
.card .button-container button.active:hover:before,
.card .button-container button.active:focus:before,
.card .button-container button.active:active:before {
  opacity: 1;
  -webkit-transform: scale(13);
  -moz-transform: scale(13);
  -o-transform: scale(13);
  -ms-transform: scale(13);
  transform: scale(13);
}
.card .footer {
  margin: 55px 0 0;
  color: #bababa;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}
.card .footer a:hover {
  color: $primary-color;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 120px;
  height: 120px;
  background: none;
  border-radius: 100%;
  padding: 0;
  box-shadow: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
  @media screen and (max-width: 576px) {
    right: 2px;
    width: 70px;
    height: 70px;
  }
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.rl_container.active .card.alt {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.rl_container.active .card.alt .toggle {
  background: $white-color;
}
.card.alt .toggle {
  position: relative;
  background: $primary-color;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: $white-color;
  font-size: 58px;
  line-height: 120px;
  text-align: center;
  cursor: pointer;
  @media screen and (max-width: 576px) {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 36px;
  }
}
.card.alt .toggle:before {
  content: "\f303";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: $primary-color;
  color: $primary-color;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 30px;
  display: inline;
  color: $primary-color;
  font-size: 58px;
  font-weight: 400;
  line-height: 60px;
}
.card.alt .title .close:before {
  content: "\00d7";
}
.card.alt .input-container input {
  color: $gray-color;
}
.card.alt .input-container input:focus ~ label {
  color: $gray-color;
}
.card.alt .input-container input:focus ~ .bar:before,
.card.alt .input-container input:focus ~ .bar:after {
  background: $gray-color;
}
.card.alt .input-container input:valid ~ label {
  color: $gray-color;
}
.card.alt .input-container label {
  color: $gray-color;
}
.card.alt .input-container .bar {
  background: $gray-color;
}
.card.alt .button-container button {
  width: 100%;
}
.card.alt .button-container button.active span {
  color: $primary-color;
}
.card.alt .button-container button.active:hover {
  border-color: $primary-color;
}
.card.alt .button-container button.active:hover span,
.card.alt .button-container button.active:focus span,
.card.alt .button-container button.active:active span {
  color: $white-color;
}
.card.alt .button-container button:focus:before,
.card.alt .button-container button:active:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
/* Error Class */
.loginError_alert {
  position: absolute;
  left: 0;
  padding: 3px 0px 0px 0px;
  color: $red-color;
  @include user-select;
}
.authError {
  font-size: 12px;
  position: absolute;
  left: 160px;
  top: 57px;
  color: $white-color;
  background-color: $red-color;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
