<div class="body_page_container">
    <div class="thankyou_page_container">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-sm-12">
                            <div class="thankyou_content_container">
                                <div class="tcc_s_message">
                                    <img src="assets/images/order_successfuly_placed.png" width="200"/>
                                    <p>We've received your order</p>
                                </div>
                                <h3>Order ID: {{order.orderRefID}}</h3>
                                <table class="order_info">
                                    <tr>
                                        <td>Payment Status</td>
                                        <td>:</td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr>
                                        <td>Total Payable</td>
                                        <td>:</td>
                                        <td>&#8377; {{order.orderAmount}}/-</td>
                                    </tr>
                                    <tr>
                                        <td>Order Status</td>
                                        <td>:</td>
                                        <td>Confirmed</td>
                                    </tr>
                                </table>
                                <div class="tcc_s_footer">
                                    <a href="products" >Home Page</a>
                                    <a href="myaccount/order">My Order</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 col-sm-12">
                            <div class="payment_info_container">
                                <div class="upi_block">
                                    <h3>UPI / Google Pay</h3>
                                    <img src="assets/images/upi.jpg" width="200px"/>
                                </div>
                                <div class="acc_info">
                                    <h3>Cash Deposit / Net Banking</h3>
                                    <p>Account Number: 50100278111093</p>
                                    <p>IFSC: HDFC0003672</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
