<div class="cart-container">
    <div *ngIf="!itemCount>0" class="cart-empty">
        <h2>Cart Empty</h2>
        <img src="../../../../assets/images/cart/cart_empty.png" class="img-responsive" />
        <p>Good food is always cooking! Go ahead, order some yummy items from the menu.</p>
    </div>
    <div *ngIf="itemCount>0" class="cart">
        <h2>Cart <span class="cartItem_count">{{itemCount}} ITEM<span *ngIf="itemCount>1">S</span></span></h2>
        <div class="cartItemListContainer">
            <div class="cartItemList" *ngFor="let item of cartItem">
                <div class="cPrdtImage">
                    <img src="assets/images/product/sample.jpg" />                
                </div>
                <div class="cPrdtInfo">
                    <h3>{{item.productName}}</h3>
                    <div class="cPrdtQtyAndPrice">
                        <div class="quantity_block item.productID">
                            <!-- {{quantityCount}} -->
                            <!-- initial Quantity Add -->
                            <span (click)="addQuantity(item)"
                                class="initial_add" *ngIf="item.productQuantity==0">ADD</span>
                            <!-- Increase & Discrease Quantity -->
                                <div *ngIf="item.productQuantity>0" (click)="minusQuantity(item)" class="minus_quantity"><i
                                        class="fas fa-minus"></i></div>
                                <div *ngIf="item.productQuantity>0" class="quantity_count">
                                    <input type="text" readonly [value]="item.productQuantity" name="noOfItem" />                                                                    
                                </div>
                                <div *ngIf="item.productQuantity>0" (click)="addQuantity(item)" class="add_quantity"><i
                                        class="fas fa-plus"></i></div>                                                            
                        </div>
                        <!-- <div class="cPrdtQty">Qty: {{item.productQuantity}}</div> -->
                        <div class="cPrdtTtlPrice"><i class="fas fa-rupee-sign"></i> {{item.productTtlQtyPrice}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cartTotalAmount">
            <span>Subtotal</span>
            <span><i class="fas fa-rupee-sign"></i> {{totalProductPrice}}</span>
        </div>
        <div class="cartSavingAmount">
            <span>Your total savings</span>
            <span><i class="fas fa-rupee-sign"></i> {{totalSavingPrice}}</span>
        </div>
        <div class="cart_btn">
            <button>PROCEED TO CHECKOUT <i class="fas fa-angle-double-right"></i></button>
        </div>
    </div>
</div>