<div class="address_container">
    <div class="cp_title">
      <img src="assets/images/cart/location.png">
      <h2>Choose a delivery address<span>Multiple address in this location</span></h2>
    </div>
    <div class="address_list_container">
      <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-12 newAddress">
          <div class="address">
            <h3>Create your delivery address</h3>
            <a (click)="enableCreateAddress()">Add new</a>
          </div>
        </div>

        <div *ngFor="let addressItem of addressList" class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-12 existingAddress">
          <div class="address">            
            <div class="add_info">
              <div class="icon">              
                <img *ngIf="(addressItem.addressType =='Home')" src="../../../../assets/images/cart/home.png" />
                <img *ngIf="(addressItem.addressType =='Office')" src="../../../../assets/images/cart/office.png" />
              </div>
              <h3>{{addressItem.addressType}}</h3>
              <p>{{addressItem.flatNo}}, {{addressItem.address}}, {{addressItem.city}}, {{addressItem.state}}. {{addressItem.pincode}}</p>
              <p>{{addressItem.landmark}}</p>
              <p>{{addressItem.mobile}}</p>
              <a>Deliver Here</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <app-address-form [enableAddressForm]="createAddressStatus" (closeCreateAddress)="createAddressStatus=$event"></app-address-form>