@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';
.address_container {
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #e9e9eb;
    .cp_title {
        display: flex;
        img {
            height: 52px;
            &.location_green {
                height: 36px;
            }
        }
        h2 {
            font-size:28px;
            margin: 0px 0px 0px 20px;
        }
        span {
            display: block;
            font-size:13px;
            font-weight: normal;
        }
    }
    .cp_title_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            display: flex;
        }
        img {
            height: 52px;
            &.location_green {
                height: 36px;
            }
        }
        h2 {
            font-size:28px;
            margin: 0px 0px 0px 20px;
        }
        span {
            display: block;
            font-size:13px;
            font-weight: normal;
        }
        a {
            font-weight: 600;
            color: $primary-color;
            cursor: pointer;
            text-decoration: none;
        }
    }
    .address_list_container {
        margin-top: 30px;
    }
}
.address_list_container {
    .newAddress {        
        .address {
            margin-top: 20px;
            padding: 20px;
            height: 203px;
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            border: 1px solid #e9e9eb;
            h3 {
                font-size: 15px;
                margin-top: 0;
            }
            a {
                display: inline-block;
                padding: 7px 20px;
                border: 2px solid $primary-color ;
                color: $primary-color;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;
                @include user-select;
            }
        }
    }
    .existingAddress {
        .address {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #e9e9eb;
            &:hover {
                box-shadow: 0 2px 8px #d4d5d9;
                cursor: pointer;
            }
        }
        
        .add_info {
            position: relative;
            padding-left: 30px;
            .icon {
                position: absolute;
                width: 20px;
                top: 0;
                left: 0;
                img {
                    width: 100%;
                }
            }
            h3 {
                margin-top: 0;
                margin-bottom: 5px;
                font-size: 16px;
            }
            p {
                margin-top: 0px;
                margin-bottom: 10px;
                font-size: 13px;
                color:$medium-black;
            }
            a {
                display: inline-block;
                padding: 7px 20px;
                color: $white-color;
                background-color: $primary-color;
                text-decoration: none;
                cursor: pointer;
                @include user-select;
                text-transform: uppercase;
            }
        }
    }
}
.delivered_address {
    h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    p {
        font-size: 15px;
        margin: 5px 0px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}