<div class="rl_container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Reset Password</h1>
        <form (ngSubmit)="resetPasswordSubmit(resetPasswordForm)" #resetPasswordForm="ngForm" autocomplete="off">
            <div class="input-container">
                <input type="text" (keypress)="numberOnly($event)" id="rpr_veritcode" required="required"
                    autocomplete="off" name="parameter" maxlength="4" [(ngModel)]="verificationcode"
                    #verificationcodeText="ngModel" />
                <label for="user_veritcode">Verification Code</label>
                <div class="bar"></div>
                <div *ngIf="verificationcodeText.touched && !verificationcodeText.valid" class="loginError_alert">
                    <div *ngIf="verificationcodeText.errors.required">
                        Verification Code is required.
                    </div>
                </div>
            </div>
            
            <div class="input-container form-group">
                <input type="password" id="rpr_newpassword" required="required" name="password"
                    (input)="confirmPasswordText.control.updateValueAndValidity()" [(ngModel)]="password"
                    #passwordText="ngModel" />
                <label for="register_password">Password</label>
                <div class="bar"></div>
                <div *ngIf="passwordText.touched && !passwordText.valid" class="loginError_alert">
                    <div *ngIf="passwordText.errors.required">
                        Password is required.
                    </div>
                </div>
            </div>

            

            
            <div class="input-container">
                <!-- <input type="password" appConfirmEqualValidator="passwordText" (key)="onEnter(passwordText.value, confirmPasswordText.value)" required="required" name="confirmpassword" [(ngModel)]="confirmpassword" #confirmPasswordText="ngModel"/> -->
                <input type="password" appConfirmEqualValidator="password"
                    (key)="onEnter(passwordText.value, confirmPasswordText.value)" required="required"
                    name="confirmpassword" [(ngModel)]="confirmpassword" #confirmPasswordText="ngModel" />
                <label>Repeat Password</label>
                <div class="bar"></div>
                <div *ngIf="confirmPasswordText.touched && !confirmPasswordText.valid" class="loginError_alert">
                    <div *ngIf="confirmPasswordText.errors.required">
                        Confirm Password is required.
                    </div>
                </div>

                <div *ngIf="confirmPasswordText.errors?.misMatch" class="loginError_alert">Passwords must match</div>
                <!-- <div *ngIf="(password && confirmpassword && password !== confirmpassword)" class="loginError_alert">Passwords must match 1</div> -->
                <!-- <div *ngIf="confirmpwdError">Passwords must match 2</div> -->

            </div>

            <div class="button-container form-group"><button [class.active]="resetPasswordForm.valid"
                    [disabled]="!resetPasswordForm.valid"><span>Submit</span></button>
            </div>
        </form>
    </div>
</div>