<div class="rl_container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Reset Password</h1>
        <form (ngSubmit)="submit()" #resetPasswordForm="ngForm">
            <div class="input-container form-group">
                <input type="password" id="rpr_newpassword" 
                    required="required" name="rpr_newpassword" class="form-control"
                    [(ngModel)]="rpr_newpassword" #rpNewpassword="ngModel"/>
                <label for="rpr_newpassword">New Password</label>
                <div class="bar"></div>
                <div *ngIf="rpNewpassword.touched && !rpNewpassword.valid" class="loginError_alert">
                    <div *ngIf="rpNewpassword.errors.required">
                        Password is required.
                    </div>
                </div>
            </div>
            <div class="input-container form-group">
                <input type="password" id="rpr_confirmnewpassword" 
                    required="required" name="rpr_confirmnewpassword" class="form-control"
                    [(ngModel)]="rpr_confirmnewpassword" #rpNewconfirmpassword="ngModel"/>
                <label for="rpr_confirmnewpassword">Confirm Password</label>
                <div class="bar"></div>
                <div *ngIf="rpNewconfirmpassword.touched && !rpNewconfirmpassword.valid" class="loginError_alert">
                    <div *ngIf="rpNewconfirmpassword.errors.required">
                        Confirm Password is required.
                    </div>
                </div>
            </div>
            <div class="button-container form-group"><button [class.active]="resetPasswordForm.valid" [disabled]="!resetPasswordForm.valid"><span>Submit</span></button>
            </div>
        </form>
    </div>
</div>