<section class="body_page_container">
  <div class="checkout_container">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-xl-8 col-lg-8 col-sm-12 col-12">
              <div class="checkout_left_container">
                <div class="address_container">
                  <div class="cp_title">
                    <img src="../../../../assets/images/cart/location.png">
                    <h2>Choose a delivery address<span>Multiple address in this location</span></h2>
                  </div>
                  <div class="address_list_container">
                    <div class="row">
                      <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-12 newAddress">
                        <div class="address">
                          <h3>Create your delivery address</h3>
                          <a (click)="enableCreateAddress()">Add new</a>
                        </div>
                      </div>
                      <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-12 existingAddress">
                        <div class="address">
                          <div class="icon">
                            <img src="../../../../assets/images/cart/home.png" />
                          </div>
                          <div class="add_info">
                            <h3>Home</h3>
                            <p>No.7261, TNHB, Ayappakam, Chennai, Tamil Nadu 600077</p>
                            <p>9962927452</p>
                            <a>Deliver Here</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-12 existingAddress">
                        <div class="address">
                          <div class="icon">
                            <img src="../../../../assets/images/cart/office.png" />
                          </div>
                          <div class="add_info">
                            <h3>Office</h3>
                            <p>No.7261, TNHB, Ayappakam, Chennai, Tamil Nadu 600077</p>
                            <p>9962927452</p>
                            <a>Deliver Here</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xl-4 col-lg-4 col-sm-12 col-12">
              <app-cart></app-cart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Add Address Form Start -->
<app-create-address [enableAddressForm]="createAddressStatus" (closeCreateAddress)="createAddressStatus=$event"></app-create-address>
<!-- Add Address Form End -->