<section class="body_page_container">
  <div *ngIf="!success && this.cartItem.length>0">
  <div class="promo-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="backToShop"><a (click)="backToShop()"><i class="far fa-arrow-alt-circle-left"></i> Continue Shopping</a></div>
                </div>
                <div class="col-lg-5 offset-lg-3">
                  <div class="promo-image">
                    <img src="assets/images/checkout_banner.png" width="100%">
                </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
  <div class="checkout_container">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-xl-4 col-lg-4 col-sm-12 col-12 order-md-1 order-1 order-sm-1 order-lg-2 order-xl-2">
              <app-cart (cartDetailEmit)="getCartDetails($event)"></app-cart>
            </div>
            <div class="col-md-8 col-xl-8 col-lg-8 col-sm-12 col-12 order-md-2 order-2 order-sm-2 order-lg-1 order-xl-1">
              <div class="checkout_left_container">
                <app-address-book (deliveryAddressEmit)='deliveryAddressID = $event'></app-address-book>
                <app-payment (buttonClicked)="oderSave($event)"></app-payment>
              </div>
            </div>
            
            <!-- <button (click)="oderSave()" >Save</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Order Success Start -->
<div class="" *ngIf="success">
  <app-thank-you [data]="orderThankYouParam" ></app-thank-you>
</div>
<!-- Order Success End -->

</section>
<!-- Add Address Form Start -->
<!-- Add Address Form End -->
