
<div class="card"></div>
        <div class="card">
            <h1 class="title">Login</h1>
            <form>
                <div class="input-container"><input type="text" id="login_username" required="required" /><label
                        for="login_username">Username</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container"><input type="password" id="login_password" required="required" /><label
                        for="login_password">Password</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container"><button><span>Go</span></button></div>
                <div class="footer"><a href="#">Forgot your password?</a></div>
            </form>
        </div>