
<div class="card"></div>
<div class="card">
    <!-- <div class="authError">Username & Password does not match</div> -->
    <div class="authError" *ngIf="error">{{error}}</div>
    <h1 class="title">Login</h1>
    <form (ngSubmit)="loginSubmit()" #userLoginForm="ngForm">
        <div class="input-container form-group">
            <input type="text" id="login_username" required="required" email name="userEmail" class="form-control" [(ngModel)]="userEmail" #usernameText="ngModel" />
            <label for="login_username">Username</label>
            <div class="bar"></div>
            <div *ngIf="usernameText.touched && !usernameText.valid" class="loginError_alert">
                <div *ngIf="usernameText.errors.required">
                    Username is required.
                </div>
                <div *ngIf="usernameText.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="input-container form-group"><input type="password" id="login_password" required="required"
                name="password" class="form-control" [(ngModel)]="password" #passwordText="ngModel" /><label
                for="login_password">Password</label>
            <div class="bar"></div>
            <div *ngIf="passwordText.touched && !passwordText.valid" class="loginError_alert">
                <div *ngIf="passwordText.errors.required">
                    Password is required.
                </div>
            </div>
        </div>
        <div class="button-container form-group"><button [class.active]="userLoginForm.valid" [disabled]="!userLoginForm.valid" type="submit"><span>Go</span></button>
        </div>
        <div class="footer"><a [routerLink]="['/forgotpwd']">Forgot your password?</a></div>
    </form>
</div>