<div class="rl_container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Forgot Password</h1>
        <p class="fp_subtitle">Don’t worry Resetting your password is easy. Just type in the
            email you registered to Cracker Online</p>
        <form (ngSubmit)="submit(forgotPasswordForm)" #forgotPasswordForm="ngForm">
            <div class="input-container form-group"><input type="text" id="fpr_email"
                    required="required" name="userEmail" class="form-control"
                    [(ngModel)]="userEmail" #fpMailText="ngModel" email /><label for="fpr_email">Email ID </label>
                <div class="bar"></div>
                <div *ngIf="fpMailText.touched && !fpMailText.valid" class="loginError_alert">
                    <div *ngIf="fpMailText.errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="fpMailText.errors.email">Email must be a valid email address</div>                    
                </div>
                <div class="loginError_alert" *ngIf="invalidResult.duplicateEmailID">Email not registered</div>
            </div>
            <div class="button-container form-group"><button [class.active]="forgotPasswordForm.valid" [disabled]="!forgotPasswordForm.valid"><span>Send</span></button>
            </div>
            <div class="footer"><a [routerLink]="['/']">Back to Login</a></div>
        </form>
    </div>
</div>