<div class="card"></div>
<div class="card">
    <h1 class="title">Forgot Password</h1>
    <p class="fp_subtitle">Don’t worry Resetting your password is easy. Just type in the email you registered to Cracker Online</p>
    <form (ngSubmit)="submit()">
        <div class="input-container form-group"><input type="text" id="fpr_email" required="required" name="fpr_email" class="form-control"  [(ngModel)]="fpr_email"/><label
                for="fpr_email">Email ID </label>
            <div class="bar"></div>
        </div>
        <div class="button-container form-group"><button><span>Send</span></button></div>
        <div class="footer"><a href="#">Back to Login</a></div>
    </form>
</div>