<div class="payment_container">
    <div class="cp_title">
        <img src="assets/images/cart/pay.png" *ngIf="ifDeliveryAddressSelected">
        <img src="assets/images/cart/pay_green.png" *ngIf="!ifDeliveryAddressSelected">
        <h2>Payment<span *ngIf="ifDeliveryAddressSelected">Choose your payment method</span><span style="color: red;" *ngIf="!ifDeliveryAddressSelected">First Select Your Delivery Address</span></h2>
    </div>
    <div class="payment_option_container" *ngIf="ifDeliveryAddressSelected">
        <div class="payment_option_tab">
            <div class="payment_left">
                <div class="cod">
                    <div class="paymentMethod_option">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button name="upiPayment" [(ngModel)]="paymentMethod" value="1">Google Pay / UPI / Net banking</mat-radio-button>
                          </mat-radio-group>
                          <div *ngIf="errorPayment" class="paymentMethod_error_text"></div>
                    </div>                    
                    <div class="cod_field">
                      <!--   <div class="svg" [innerHTML]="captcha">{{captcha}}</div> -->
                        <div #dataContainer class="capchaImage">
                        </div>
                        <div class="capchaTextBox">
                            <input type="text" placeholder="Enter Capcha" [(ngModel)]="confirmCaptcha" (input)="errorCaptcha=''" />
                        </div>
                        <div class="refresh" (click)="refreshCaptchaImage()"><img width="30" src="assets/images/refresh.png"/></div>
                        <div class="placeOrder">
                            <button (click)="confirmOrder()">Confirm Order</button>
                        </div>
                    </div>
                    <div class="static_error_text">{{errorCaptcha}}</div>
                    <div class="cod_footer"><span>Before confirm the order Once review your cart items.</span><i class="fas fa-long-arrow-alt-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>