@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';
.addAddressOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: none;
    opacity: 0;
    transition: 0.3s ease;

    &.active {
        opacity: 1;
        display: block;
    }
}
.addAddressContainer {
    width: 400px;
    padding: 30px;
    height: 100vh;
    overflow: auto;
    position: fixed;
    left: -410px;
    top: 0;
    background-color: #FFF;
    box-shadow: 5px 0px 10px 0px rgba($color: #000000, $alpha: 0.1);
    z-index: 11;
    transition:all 0.3s ease;
    @media only screen and (max-width: 375px) {
        width: 300px;
    }
    &.active {
        left: 0px;
    }
    h3 {
        font-size: 18px;
    }
}
.addressFormBlock {
    .addressForm {
        .full-width {
            display: block;
            font-size: 16px;
            margin-bottom: 20px;
        }
        .btn_create, .btn_cancel {
            padding: 10px;
            height: 50px;
            overflow: hidden;
            width: 100%;            
            text-align: center;
            margin-bottom: 20px;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            background-color: #FFF;
            position: relative;
            outline: none;
            display: block;
            cursor: pointer;
            &:disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }
            &:not([disabled]) {
                &:hover {
                    &::before {
                        opacity: 1;
                        transform: scale(13);
                    }
                    span {
                        color: #FFF;
                    }
                }
            }
            
            span {
                z-index: 13;
                position: absolute;
                text-align: center;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                color: #FFF;
                line-height: 50px;
                transition: 0.3s ease;
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                margin: -15px 0 0 -15px;
                opacity: 0;
                transition: 0.3s ease;
            }
        }
        .btn_create {
            border:2px solid $primary-color;
            color: $primary-color;
            &::before {
                background-color:$primary-color;
            }
            span {
                color:$primary-color;
            }
        }
        .btn_cancel {
            border:2px solid $gray-color;
            color: $gray-color;
            &::before {
                background-color:$gray-color;
            }
            span {
                color:$gray-color;
            }
        }
    }
}
.loginError_alert {
    bottom: -25px;
    font-size: 13px;
}