@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";
header {
  background-color: #fff;
  @include box-shadow(0px, 0px, 8px, 6px, rgba(0, 0, 0, 0.2));
  font-family: $kanit;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @media only screen and (max-width: 480px) {
    //     flex-wrap: wrap;
    // }
    .m-menu {
      font-size: 22px;
      background-color: transparent;
      border: none;
      outline: none;
      @media only screen and (min-width: 481px) {
        display: none;
      }
    }
    .list-right {
      @media only screen and (max-width: 480px) {
        padding: 0;
        margin: 0;
        display: none;
      }
      li {
        color: $medium-black;
        display: inline-block;
        margin-left: 20px;
        line-height: 15px;
        @include user-select;
        @media only screen and (max-width: 480px) {
          margin-left: 0px;
        }
        &.user-profile {
          cursor: pointer;
          img {
            margin-right: 10px;
            float: left;
            margin-top: 2px;
          }
          font-size: 18px;
          line-height: 22px;
        }
        &.cart-info {
          font-size: 16px;
          .cart_count {
            background-color: $primary-color;
            width: 25px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            color: $white-color;
            @include border-radius(5px);
            margin-right: 5px;
            display: inline-block;
            font-size: 13px;
          }
        }
      }
    }
    .logo {
      cursor: pointer;
      @media only screen and (max-width: 480px) {
        margin-bottom: 10px;
      }
    }
  }
}
.custom-drawer-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 30;
  overflow: hidden;
  .c-d-backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 25;
    opacity: 0;
    display: none;
    @include transition-05;
  }
  .c-d-content {
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    position: absolute;
    left: -600px;
    top: 0;
    z-index: 30;
    @include transition-05;
    .c-d-header {
        background-color: $primary-color;
        color: $white-color;
        font-size: 15px;
        display: flex;
        align-items: center;
        padding:15px 10px;
        line-height: normal;
        span {
            font-size: 18px;
            display: inline-block;
            &:first-child {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                text-align: center;
                background-color: #d6d6d6;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:last-child {
              width: calc(100% - 70px);
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
        }        
    }
    .useful_links {
        list-style: none;
        margin: 0;
        padding:0;
        li {
            border-bottom:1px solid #d6d6d6 ;
            a {
                display: block;
                padding:15px;
                font-size: 15px;
                i {
                    color: $primary-color;
                    padding-right: 10px;
                    font-size: 20px;
                }
            }
        }
    }
  }
  &.active {
    z-index: 30;
    visibility: visible;
    .c-d-backdrop {
      opacity: 1;
      display: block;
      @include transition-05;
    }
    .c-d-content {
      left: 0;
      @include transition-05;
    }
  }
}
.mat-menu-content {
  background-color: 'red' !important;
}
.mat-menu-panel {
  background-color: transparent;
}
.d_useful_links {
  width: 200px;
  list-style: none;
        margin: 0;
        padding:0;
        li {
            border-bottom:0px solid #d6d6d6;
            &:last-child {
              border-bottom: none;              
            }
            a {
                display: block;
                padding:10px;
                font-size: 14px;
                text-decoration: none;
                color: #6d6e71;
                cursor: pointer;
                &:hover {
                  background-color: gray;
                  color: #FFF;
                  i {
                    color: #FFF;
                  }
                }
                i {
                    color: $primary-color;
                    padding-right: 10px;
                    font-size: 16px;
                }
            }
        }
}
