<header>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <nav class="header-nav">
                    <h1 class="logo">Crackers Online</h1>
                    <ul class="list-right">
                        <li class="user-profile"><img src="assets/images/header/user.png" width="16"/> <span>{{username}}</span></li>
                        <li class="cart-info"><span class="cart_count">12</span>Cart</li>
                        <li class="logout" (click)="logout()"><span>Logout</span></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
