<section class="body_page_container">
    <div class="promo-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                </div>
            </div>
        </div>
    </div>
    <div class="product_listing_container">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-xl-2 col-lg-2 col-sm-12 col-12 m-display-none">
                            <div class="category_container">
                                <div id="category_inner_container" class="category_inner_container">
                                    <!-- <a class="current-category">Gift Boxes</a> -->
                                    <a *ngFor="let category of categoryList" routerLinkActive="active" (click)="scroll(category.categoryID)">{{category.categoryName}}</a>
                                    <div class="highter-line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-xl-7 col-lg-7 col-sm-12 col-12">
                            <div class="prdt_listing">
                                <div class="prdt_listing_inner">
                                    <div id="{{item[1][0].categoryID}}" class="category_prdt_list" *ngFor="let item of productsList">
                                        <div class="category_title">
                                            <h2>{{item[0]}}</h2>
                                            <p><span class="prdt_count">{{item[1].length}}</span>ITEM<span *ngIf="item[1].length>1">S</span></p>
                                        </div>
                                        <div class="row">
                                            <div *ngFor="let product of item[1]" class="col-md-4 col-xl-4 col-lg-4 col-sm-6 col-6">
                                                <div class="listing_item">
                                                    <div class="list_image">
                                                        <img src="assets/images/product/sample.jpg" />                                                        
                                                    </div>
                                                    <h2 class="prdt_name">{{product.productName}}</h2>
                                                    <div class="listing_footer">
                                                        <div class="price_block">
                                                            &#8377;
                                                            <span id="prdt_price">{{product.productPrice}}</span>
                                                        </div>
                                                        <div class="quantity_block product.productID">
                                                            <!-- {{quantityCount}} -->
                                                            <!-- initial Quantity Add -->
                                                            <span (click)="addQuantity(product)"
                                                                class="initial_add" *ngIf="product.productQuantity==0">ADD</span>
                                                            <!-- Increase & Discrease Quantity -->
                                                                <div *ngIf="product.productQuantity>0" (click)="minusQuantity(product)" class="minus_quantity"><i
                                                                        class="fas fa-minus"></i></div>
                                                                <div *ngIf="product.productQuantity>0" class="quantity_count">
                                                                    <input type="text" readonly [value]="product.productQuantity" name="noOfItem" />                                                                    
                                                                </div>
                                                                <div *ngIf="product.productQuantity>0" (click)="addQuantity(product)" class="add_quantity"><i
                                                                        class="fas fa-plus"></i></div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-3 col-lg-3 col-sm-12 col-12">
                            <app-cart></app-cart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>