<section class="body_page_container">
    <div class="promo-banner">
        <div class="container-fluid">        
            <div class="row">
                <div class="container">                    
                </div>
            </div>
        </div>
    </div>
    <div class="product_listing_container">
        <div class="container-fluid">        
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-xl-2 col-lg-2 col-sm-12 col-12">
                            <div class="category_container">
                                <div class="category_inner_container">
                                    <a class="current-category">Gift Boxes</a>
                                    <a>Atom Bomb</a>
                                    <a>Deluxe Crackers</a>
                                    <a>Fancy Chakkars</a>
                                    <a>Fancy Fountains</a>
                                    <a>Fancy Single Shots</a>
                                    <a>Flower Pots</a>
                                    <a>Rocket</a>
                                    <a>Sparklers</a>
                                    <a>Twinkling Stars</a>
                                    <div class="highter-line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-xl-7 col-lg-7 col-sm-12 col-12">
                            <div class="prdt_listing">
                                <div class="prdt_listing_inner">
                                    <div class="category_prdt_list">
                                        <div class="category_title">
                                            <h2>Gift Boxes</h2>
                                            <p><span class="prdt_count">12</span>ITEMS</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xl-4 col-lg-4 col-sm-12 col-12">
                                                <div class="listing_item">
                                                    <div class="list_image">
                                                        <img src="assets/images/product/sample.jpg"/>
                                                    </div>
                                                    <h2 class="prdt_name">Silver gift box</h2>
                                                    <div class="listing_footer">
                                                        <div class="price_block">
                                                            <i class="fas fa-rupee-sign"></i>
                                                            <span id="prdt_price">450</span>
                                                        </div>
                                                        <div class="quantity_block">
                                                            <span class="initial_add" style="display: none;">ADD</span>
                                                            <div class="minus_quantity"><i class="fas fa-minus"></i></div>                                                            
                                                            <div class="quantity_count">1</div>
                                                            <div class="add_quantity"><i class="fas fa-plus"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-3 col-lg-3 col-sm-12 col-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>