<div class="card alt">
    <div class="toggle" (click)="enable_register()"></div>
    <h1 class="title">Register
        <div class="close" (click)="disable_register(); registratiomForm.reset()"></div>
    </h1>
    <form (ngSubmit)="registrationSubmit(registratiomForm)" #registratiomForm="ngForm">
        <div class="input-container">
            <input type="text" id="register_username" required="required" name="userEmail" (blur)="checkEmailExsit($event)" [(ngModel)]="userEmail" #usernameText="ngModel" email/>
            <label for="register_username">Email</label>
            <div class="bar"></div>
            <div *ngIf="usernameText.touched && !usernameText.valid" class="loginError_alert">
                <div *ngIf="usernameText.errors.required"> Email is required.</div>
                <div *ngIf="usernameText.errors.email">Email must be a valid email address</div>
            </div>
            <div class="loginError_alert" *ngIf="invalidResult.duplicateEmailID">Email already exist</div>
        </div>
        <div class="input-container">
            <input type="password" id="register_password" required="required" name="password" (input)="confirmPasswordText.control.updateValueAndValidity()" [(ngModel)]="password" #passwordText="ngModel" />
            <label for="register_password">Password</label>
            <div class="bar"></div>
            <div *ngIf="passwordText.touched && !passwordText.valid" class="loginError_alert">
                <div *ngIf="passwordText.errors.required">
                    Password is required.
                </div>
            </div>
        </div>
        <div class="input-container">
            <!-- <input type="password" appConfirmEqualValidator="passwordText" (key)="onEnter(passwordText.value, confirmPasswordText.value)" required="required" name="confirmpassword" [(ngModel)]="confirmpassword" #confirmPasswordText="ngModel"/> -->
            <input type="password" appConfirmEqualValidator="password" (key)="onEnter(passwordText.value, confirmPasswordText.value)" required="required" name="confirmpassword" [(ngModel)]="confirmpassword" #confirmPasswordText="ngModel"/>
            <label>Repeat Password</label>
            <div class="bar"></div>
            <div *ngIf="confirmPasswordText.touched && !confirmPasswordText.valid" class="loginError_alert">
                <div *ngIf="confirmPasswordText.errors.required">
                    Confirm Password is required.
                </div>
            </div>
            
            <div *ngIf="confirmPasswordText.errors?.misMatch" class="loginError_alert">Passwords must match</div>
            <!-- <div *ngIf="(password && confirmpassword && password !== confirmpassword)" class="loginError_alert">Passwords must match 1</div> -->
            <!-- <div *ngIf="confirmpwdError">Passwords must match 2</div> -->
            
        </div>
        <div class="button-container"><button [class.active]="registratiomForm.valid" [disabled]="!registratiomForm.valid" type="submit"><span>Next</span></button></div>
    </form>
</div>